name: Deploy Application Docker Image to EC2 instance

on:
  repository_dispatch:
    types: [event-on-demand-build]

jobs:
  generate_data:
    name: Run Python Logic
    runs-on: ubuntu-latest
    # Map the step outputs to job outputs
    outputs:
      runner: ${{ steps.py_gen.outputs.runner_details }}
      services_available: ${{ steps.py_gen.outputs.available_services_details }}
    
    steps:
      - name: Setup AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION_NAME }}

      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Boto
        run: pip install boto3 botocore

      - name: Execute Python Script
        id: py_gen
        run: python .github/workflows/teting.py
        env:
          AWS_REGION: ${{ secrets.AWS_REGION_NAME }}
          SECRET_FILE_NAME: ${{ secrets.SECRETS_FILE_NAME }}

  process_data:
    name: Consume Python Outputs
    needs: generate_data
    runs-on: ubuntu-latest
    
    steps:
      - name: Print Data from Previous Job
        run: |
          echo "Message received: ${{ needs.generate_data.outputs.runner }}"
          echo "Full JSON Details: ${{ needs.generate_data.outputs.services_available }}"
          
      - name: Use specific JSON value
        run: |
          # Use jq to parse the JSON string passed between jobs
          echo "The target region is: $REGION"

  Continuous-Integration:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION_NAME }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push image to Amazon ECR
        id: build-image
        run: |
          echo "Clearing Docker cache to force fresh rebuild"
          docker system prune -af

          echo "Building new Docker image..."
          docker build --no-cache -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .

          echo "Pushing new Docker image to ECR..."
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

          echo "image=$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG" >> $GITHUB_OUTPUT
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ secrets.ECR_REPO }}
          IMAGE_TAG: latest

  deploy_website_and_projects:
    runs-on: ubuntu-latest
    needs: generate_data
    steps:
      - name: Generate GitHub App token
        id: app-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
          owner: ashish-soni-org
          repositories: Terraform-Ansible

      - name: Check Permissions
        run: |
            curl -i \
            -H "Authorization: Bearer ${{ steps.app-token.outputs.token }}" \
            -H "Accept: application/vnd.github+json" \
            https://api.github.com/repos/ashish-soni-org/Terraform-Ansible

      - name: Trigger Other Repositories
        run: |
            curl -X POST \
            -H "Authorization: Bearer ${{ steps.app-token.outputs.token }}" \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/repos/ashish-soni-org/Terraform-Ansible/dispatches \
            -d '{"event_type":"event-on-demand-deploy","client_payload":{"from":"repo-a"}}'